* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jdiv {
  background-color: blueviolet;
}

.title {
  font-family: "Audiowide", sans-serif;
  background-color: #DE3163;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
  color: white;
}

.main {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-inpt {
  height: 7vh;
  width: 40vw;
  -webkit-box-shadow: 0 0 3px #666;
          box-shadow: 0 0 3px #666;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  padding-left: 15px;
  font-weight: bolder;
}

.main-addBtn {
  border: none;
  width: 8vw;
  height: 7vh;
  font-size: 18px;
  margin-left: 12px;
  border-radius: 10px;
  font-weight: bold;
  font-family: Quicksand;
  color: white;
  background-color: #2C3E50;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

.main-resetBtn {
  background-color: #2C3E50;
  color: aliceblue;
  border: none;
  width: 8vw;
  height: 7vh;
  font-size: 18px;
  margin-left: 12px;
  border-radius: 10px;
  font-weight: bold;
  font-family: cursive;
  font-weight: bolder;
  border: none;
}

.main-select {
  border: none;
  width: 8vw;
  height: 7vh;
  font-size: 18px;
  margin-left: 12px;
  border-radius: 10px;
  font-weight: bold;
  background-color: lightgray;
}

.Todos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Todos__list {
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 25Px;
  padding: 10px 10px 10px 10px;
  margin-top: 25px;
}

.Todos__item {
  -webkit-box-shadow: 0 0 5px #666;
          box-shadow: 0 0 5px #666;
  background-color: aliceblue;
  width: 70vw;
  margin-bottom: 10PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid purple;
}

.Todos__item:hover {
  background-color: #a0ecec;
  font-weight: bolder;
}

.Todos__item_cmpted {
  background-color: #F4ECF7;
  color: black;
  opacity: 0.5;
}

.Todos__item-name {
  width: 100vw;
  padding: 6px 10px 6px 23px;
}

.Todos__item-editbox {
  width: 150vw;
  margin: 5px;
  background-color: lightcyan;
  padding: 0px 10px 0px 10px;
  height: 5vh;
  color: black;
  font-size: 25px;
}

.Todos__item-check {
  background-color: transparent;
  border: none;
  font-weight: bolder;
  margin-left: 20px;
  height: 5vh;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Todos__item-check:hover {
  background-color: green;
  border-radius: 0px;
  margin: 3px 0px 2px 13px;
  height: 5vh;
}

.Todos__item-check:hover .fa-check {
  color: white;
}

.Todos__item-delete {
  background-color: transparent;
  border: none;
  font-weight: bolder;
  margin-left: 20px;
  height: 5vh;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Todos__item-delete:hover {
  background-color: red;
  border-radius: 0px;
  margin: 3px 0px 2px 13px;
  height: 5vh;
}

.Todos__item-delete:hover .fa-trash {
  color: white;
}

.Todos__item-delete .fa-trash {
  pointer-events: none;
  font-size: 16px;
  color: red;
}

.Todos__item-delete .fa-trash:hover {
  background-color: red;
  color: white;
}

.Todos__item-edit {
  background-color: transparent;
  border: none;
  font-weight: bolder;
  margin-left: 20px;
  height: 5vh;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Todos__item-edit:hover {
  background-color: blue;
  border-radius: 0px;
  margin: 3px 0px 2px 13px;
  height: 5vh;
}

.Todos__item-edit:hover .fa-edit {
  color: white;
}

.Todos__item-edit .fa-edit {
  pointer-events: none;
  font-size: 16px;
  color: blue;
}

.Todos__item-edit .fa-edit:hover {
  background-color: blue;
  color: white;
}

.Todos__item-done {
  background-color: transparent;
  border: none;
  font-weight: bolder;
  margin-left: 20px;
  height: 5vh;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Todos__item-done:hover {
  background-color: #2C3E50;
  border-radius: 0px;
  margin: 3px 0px 2px 13px;
  height: 5vh;
  color: white;
}
/*# sourceMappingURL=todo.css.map */