* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-family: "Audiowide", sans-serif;
  background-color: #DE3163;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
  color: white;
}

.main {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main__inpt {
  height: 6vh;
  width: 40vw;
  -webkit-box-shadow: 0 0 3px #666;
          box-shadow: 0 0 3px #666;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  padding-left: 15px;
  font-weight: bolder;
}

.main .main__addBtn {
  border: none;
  width: 8vw;
  height: 7vh;
  font-size: 18px;
  margin-left: 12px;
  border-radius: 10px;
  font-weight: bold;
  font-family: Quicksand;
  color: white;
  background-color: #2C3E50;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

.main .main__addBtn:hover {
  background-color: #2C3E50;
  color: white;
}

.main .main__resetBtn {
  background-color: #2C3E50;
  color: aliceblue;
  border: none;
  width: 8vw;
  height: 7vh;
  font-size: 18px;
  margin-left: 12px;
  border-radius: 10px;
  font-weight: bold;
  font-family: cursive;
  font-weight: bolder;
  border: none;
}

.main .main_select {
  border: none;
  width: 8vw;
  height: 7vh;
  font-size: 18px;
  margin-left: 12px;
  border-radius: 10px;
  font-weight: bold;
  background-color: lightgray;
}

.Todos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 18%;
}

.cmpted {
  background-color: #F4ECF7;
  color: black;
  opacity: 0.5;
}

.fa-edit {
  pointer-events: none;
  font-size: 16px;
  color: blue;
}

.fa-edit:hover {
  background-color: blue;
  color: white;
}

.fa-check {
  pointer-events: none;
  font-size: 16px;
  color: green;
}

.fa-check:hover {
  background-color: green;
  color: white;
}

.fa-trash {
  pointer-events: none;
  font-size: 16px;
  color: red;
}

.fa-trash:hover {
  background-color: red;
  color: white;
}

ul {
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 30Px;
  width: 80vw;
  padding: 20px;
}

ul li {
  border: black;
  background-color: aliceblue;
  width: 60vw;
  margin-bottom: 10PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

ul li input {
  width: 80%;
  background-color: lightcyan;
  height: 5vh;
  color: black;
  font-size: 18px;
}

ul li:hover {
  background-color: #a0ecec;
  font-weight: bolder;
}

ul li button {
  background-color: transparent;
  border: none;
  font-weight: bolder;
  margin-left: 20px;
  height: 5vh;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li span {
  width: 100%;
  float: left;
}
/*# sourceMappingURL=todo.css.map */