@mixin btn {
    border: none;
    width: 8vw;
    height: 7vh;
    font-size: 18px;
    margin-left: 12px;
    border-radius: 10px;
    font-weight: bold;
}

@mixin icon-btn {
    pointer-events: none;
    font-size: 16px;
}

@mixin libtns {
    background-color: transparent;
    border: none;
    font-weight: bolder;
    margin-left: 20px;
    height: 5vh;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    flex: 1;
    align-items: center;
}

@mixin btn_hover {
    border-radius: 0px;
    margin: 3px 0px 2px 13px;
    height: 5vh;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    justify-content: center;
}

.title {
    font-family: "Audiowide", sans-serif;
    background-color: #DE3163;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    color: white;
}

.main {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    &-inpt {
        height: 7vh;
        width: 40vw;
        box-shadow: 0 0 3px #666;
        border: none;
        align-self: center;
        font-size: 16px;
        padding-left: 15px;
        font-weight: bolder;
    }
    &-addBtn {
        @include btn;
        font-family: Quicksand;
        color: white;
        background-color: #2C3E50;
        font-kerning: auto;
        &:hover {
            background-color: #2C3E50;
            color: white;
        }
    }
    &-resetBtn {
        background-color: #2C3E50;
        color: aliceblue;
        @include btn;
        font-family: cursive;
        font-weight: bolder;
        border: none;
    }
    &-select {
        @include btn;
        background-color: lightgray;
    }
}

.Todos {
    display: flex;
    justify-content: center;
    &__list {
        list-style: none;
        align-content: center;
        font-size: 25Px;
        padding: 10px 10px 10px 10px;
        margin-top: 25px;
    }
    &__item {
        box-shadow: 0 0 5px #666;
        background-color: aliceblue;
        width: 70vw;
        margin-bottom: 10PX;
        display: flex;
        flex: 1;
        border: 2px solid purple;
        &:hover {
            background-color: #a0ecec;
            font-weight: bolder;
        }
        &_cmpted {
            background-color: #F4ECF7;
            color: black;
            opacity: 0.5;
        }
        &-name {
            width: 100vw;
            padding: 6px 10px 6px 23px;
        }
        &-editbox {
            width: 150vw;
            margin: 5px;
            background-color: lightcyan;
            padding: 0px 10px 0px 10px;
            height: 5vh;
            color: black;
            font-size: 25px;
        }
        &-check {
            @include libtns;
            &:hover {
                background-color: green;
                @include btn_hover;
                .fa-check {
                    color: white;
                }
            }
        }
        &-delete {
            @include libtns;
            &:hover {
                background-color: red;
                @include btn_hover;
                .fa-trash {
                    color: white;
                }
            }
            .fa-trash {
                @include icon-btn;
                color: red;
                &:hover {
                    background-color: red;
                    color: white;
                }
            }
        }
        &-edit {
            @include libtns;
            &:hover {
                background-color: blue;
                @include btn_hover;
                .fa-edit {
                    color: white;
                }
            }
            .fa-edit {
                @include icon-btn;
                color: blue;
                &:hover {
                    background-color: blue;
                    color: white;
                }
            }
        }
        &-done {
            @include libtns;
            &:hover {
                background-color: #2C3E50;
                @include btn_hover;
                color: white;
            }
        }
    }
}